<% provide(:title, 'All users') %>

<div class="row">
  <div class="table-responsive">
    <h1 class="text-center">List of users</h1>
    <table class="table">
      <thead>
        <tr class="success">
            <th>#</th>
            <th>Profile Picture</th>
            <th>Name</th>
            <th>Email</th>
            <th class="text-center">Action</th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= gravatar_for user, size: 50 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td class="text-center">
              <%= link_to 'Show', user,:class=> "btn btn-md btn-success" %>
              <%= link_to 'Edit', edit_user_path(user),:class=> "btn btn-md btn-warning" %>
              <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' },:class=> "btn btn-md btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>