<%= form_tag(items_path(:category_filter), :method => "get",:class => "category-filter") do %>	
    <%=render 'layouts/categories' %>	
    <%= select_tag(:sortype, options_for_select([['Sort By','any'],['Highest price','expensive'],
    ['Lowest price','cheapest'],['Highest rating','bestrated'],['Lowest rating','lowestrated']], 1),
    :class => "btn btn-secondary dropdown-toggle", :id => "dropdownMenuButton",
    type: "button", aria: { haspopup: true },aria: { expanded: false }, :style => "background: lightgrey;")%>	
    <%= submit_tag "Submit", :class => "btn btn-md btn-success" %>	
<% end %>
      <% @items.each do |item| %>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="item-title item-description"><%= item.title %></h3>
            <p><%= link_to (image_tag item.image_url, :class => "", :size=>"280x446"), item %></p>
            <h4>Author: <%= item.author %></h4>
            <h4>Price: <%= number_to_currency(item.price, :unit => "€") %></h4>
            <h4>Category: <%= item.category %></h4>
            <h4> 
                Rating:<% item.score.to_i.times do  %>
                        <span class="glyphicon glyphicon-star"></span>
                        <% end %>
                <% item.blank_stars.times do %>
                    <span class="glyphicon glyphicon-star-empty"></span>
                <% end %> (<%= item.reviews.size %>) 
            </h4>
            <!-- admin function -->
            <% if logged_in? and current_user.admin? %>
                <h4>Current Stock: <%= item.stock %></h4>
                <%= form_tag(items_add_stock_path(item.id), :method => "get") do %>	
                    <h4>
                        <%= label_tag(:stock, "Stock") %>
                        <%= text_field_tag(:stock, 0) %>
                    </h4>
                    <h4><%= submit_tag "Update Stock", :class => "btn btn-md btn-primary" %></h4>
                <%end%>
            <!-- end of admin function -->
      <% end %>
         <p>
            <%= link_to 'Details',  item, :class => "btn btn-md btn-success", :role => "button" %>
            <%if item.stock_limit %>
                <%= link_to 'Out of stock', cart_add_path(item.id), :class => "btn btn-md btn-danger disabled", :disabled => true %>
            <% else %>
               <button class="btn btn-md btn-primary" type="button" data-toggle="modal" data-target="#myModal" onclick="confirmAdd('<%= item.id%>')">Add to cart</button>
               <% end %>
         </p>
         
                <!-- Start of Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Added to Cart</h4>
                      </div>
                      <div class="modal-body">
                        <p>Item was added to your cart!</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">Continue Shopping</button>
                        <%= link_to 'Checkout', "/cart", :class => "btn btn-success btn-md" %>
                      </div>
                    </div>
                  </div>
                </div>
            
        <!-- admin function -->
        <% if logged_in? and current_user.admin? %>
             <p>
                <%= link_to 'Edit',  edit_item_path(item), :class => "btn btn-md btn-warning", :role => "button" %>
                <%= link_to 'Destroy',  item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-md btn-danger", :role => "button" %>
             </p>
        <%end%>
        <!-- end of admin function -->
         </div>
      <% end %>